/* styles.css */
.navbar {
  padding: 20px;
  background-color: #2c3e50; /* Cambiado a un tono más moderno */
  color: #ecf0f1; /* Color claro para contraste */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  border-radius: 5px; /* Bordes redondeados */
  margin-bottom: 20px; /* Espacio debajo de la barra */
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Centrado horizontal */
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0 15px; /* Espacio entre elementos */
}

.navbar a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: 500; /* Negrita ligera */
  font-family: 'Courier New', Courier, monospace, sans-serif; /* Aplica la fuente Dosis */
  transition: color 0.3s ease; /* Transición suave en el hover */
  font-weight: bold;
}

.navbar a:hover {
  color: #3498db; /* Color en hover */
}
